@import '_variables.scss';

.screen-reader-only--focusable {
    background-color: transparent;
    color: #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;

    &:focus {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

#navToggle {
    margin-left: -($menu-spacing/2);
    margin-right: $menu-spacing/2;
    color: #fff;

    &:hover {
        color: #32363A;
    }
}

@media (min-width: $breakpoint-lg) {
    #navToggle {
        display: none;
    }
}
