@import '_variables.scss';

.fd-table {

    &.property-table {
        border: 0;

        &.property-table__shape {
            margin: 0 50px 30px;
        }

        thead {
            background: transparent;
        }

        tbody {
            >tr {
                >td {
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }

        thead,
        tbody {
            >tr {
                vertical-align: top;

                >th,
                >td {
                    width: 20%;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        width: 40%;
                        padding-right: 0;
                    }

                    &.fd-table__cell {
                        >p {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .prop-required {
            color: var(--fd-color-status-3, #b00);
        }
    }
}

.frDocs-Properties__shape {
    margin: 0 50px 30px;
}
