$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 600px;
$fd-icons-path: '../../node_modules/fundamental-styles/scss/icons/';
$fd-fonts-path: '../../node_modules/fundamental-styles/dist/fonts/';
@import '~fundamental-styles/scss/fundamental-styles-ie11.scss';
@import '~tocbot/src/scss/tocbot-core';
@import '~tocbot/src/scss/tocbot-default-theme';

$shell-color: #354A5F;
$library-color: #61dafb;
$menu-height: 50px;
$nav-width: 265px;
$menu-spacing: 20px;

// Fundamental React Docs Styles
.frDocs-App {
    background-color: white;
}

.frDocs-Container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.frDocs-Menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $shell-color;
    color: #fff;
    padding: 8px $menu-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;

    &__logo {
        flex: 0 0 auto;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }

        &--library {
            color: $library-color;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }

    &__version {
        flex: 0 0 auto;
        margin-left: $menu-spacing;
        font-size: 1.2rem;
        display: none;
    }

    &__githubLogo {
        flex: 0 0 auto;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        display: block;
        margin-left: $menu-spacing;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.frDocs-Sidebar {
    padding-top: $menu-height;
    color: #21262c;
    min-width: $nav-width;
    width: $nav-width;
    background-color: #EDEFF0;
    display: flex;
    flex-direction: column;
    transition: 0.3s margin ease-in-out, 0.3s box-shadow ease-in-out;
}

.frDocs-Sidebar--isHidable {
    margin-left: -$nav-width;
    overflow-x: hidden;
}

@media (min-width: $breakpoint-lg) {
    .frDocs-Sidebar--isHidable {
        margin-left: 0;
        overflow-x: auto;
    }
}

.frDocs-Search {
    flex: 0 0 auto;
    padding: 15px 20px;
    -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.frDocs-Content {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: white;
    padding: 2rem;
    padding-top: $menu-height + 25px;

    &__header,
    .frDocs-markdown>h1 {
        margin: 0 0 12px;
        font-size: 2.2rem;
        line-height: 1;
    }

    &__header:empty {
        display: none;
    }

    &__description,
    .frDocs-markdown>p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 300;
    }

    &__tile {
        border-radius: 4px 4px 0 0;
        border: 1px solid #ccc;
        border-bottom: none;
        padding: 10px 0;

        .frDocs-tile__features {
            display: flex;
            justify-content: flex-end;
        }

        .frDocs-tile__feature {
            display: flex;
            margin: 15px;
        }

        .frDocs-tile__centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__tile-background {
        background: #F3F4F5;
        transition: background-color 0.25s;
    }

    &__separator {
        display: block;
        margin: 2rem 0;
        border-bottom: 1px solid #E3E3E3;
    }

    &__docsText {
        padding: 15px;
        font-size: 13px;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 4px 4px;
        margin: 0;
    }

    .frDocs-docsText__button {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .frDocs-docsText__buttonCopy {
        margin-left: 5px;
    }
}

.fd-button__navToggle {
    margin-left: -($menu-spacing/2);
    margin-right: $menu-spacing/2;
    color: #fff;

    &:hover {
        color: #32363A;
    }
}

@media (min-width: $breakpoint-lg) {
    .fd-button__navToggle {
        display: none;
    }
}

.frDocs-markdown {
    ol,
    ul {
        padding-left: 2rem;
    }

    pre {
        margin: 25px 0;
        background-color: #fff !important;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        display: flex;
        padding: 1rem;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        border: 1px solid #ccc;
        border-radius: 4px;

        code {
            display: block;
        }
    }
}

.frDocs-Properties__shape {
    margin: 0 50px 30px;
}

// used to keep headings in view with the fixed header
h1,
h2,
h3,
h4,
h5,
h6 {
    &:target {
        &:before {
            display: block;
            content: ' ';
            height: $menu-height + 25px;
            margin-top: -$menu-height + 25px;
            visibility: hidden;
        }
    }

    &:focus {
        outline: 0;
    }
}

// Fundamental React Component Overrides
.fd-counter--notification {
    position: relative;
}

.fd-tile__content {

    .fd-button--grouped {
        margin-right: 0;
    }

    .fd-input-group {
        [class*='fd-button'] {
            margin-right: 0;
        }
    }

    .fd-doc__margin--popover .fd-popover,
    .fd-doc__margin--datePicker .fd-date-picker,
    .fd-doc__margin--token .fd-token,
    .fd-doc__margin--buttonGroup .fd-button-group,
    .fd-doc__margin--button button,
    .fd-doc__margin--panel .fd-token,
    .fd-doc__margin--panel .fd-button,
    .fd-doc__margin--dropdown .fd-dropdown,
    .fd-doc__margin--icon span,
    .fd-doc__margin--identifier span,
    .fd-doc__margin--image span,
    .fd-doc__margin--statusIndicator span {
        margin-right: 20px;
    }
}

.fd-tabs__content {
    padding-top: 10px;
    padding-bottom: 10px;
}

// possible addition to fundamental-styles fundamentals side nav component?
.fd-side-nav {
    overflow: auto;
}

.property-header {
    text-align: left;
    padding-right: 15px;
}

.row {
    display: flex;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 1;
    flex: 1;
}

.form-group {
    max-height: 500px;
    overflow-y: scroll;
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.schema {
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.form-group-sublevel {
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.tn-form__label {
    padding-left: 25px;
}

.fd-calendar__content {
    background: white;
}

.fd-date-picker {
    display: inline-block;
}

.fd-calendar {
    display: inline-block;
}

.demo-icon-wrapper {
    padding: 10px;
    float: left;
    width: 16%;
    text-align: center;
    height: 120px;
}

.fd-table {

    &.property-table {
        border: 0;

        thead {
            background: transparent;

            >tr {
                >th {
                    padding: inherit 0;
                }
            }
        }

        tbody {
            >tr {
                >td {
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }

        thead,
        tbody {
            >tr {
                vertical-align: top;

                >th,
                >td {
                    width: 20%;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        width: 40%;
                        padding-right: 0;
                    }
                }
            }
        }

        .prop-required {
            color: var(--fd-color-status-3);
        }
    }
}

// table of contents (tocbot) overrides
.toc {
    > .toc-list {
        padding-left: 0;
    }
}

.toc-link {
    margin: 2px 0;
    padding-left: 15px;
    text-indent: -15px;

    &:before {
        width: 0;
    }
}

a.toc-link {
    color: #0A6ED1;

    &:hover,
    &:focus {
        color: #085CAF;
    }
}

.is-active-link {
    font-weight: 400;
}

.node-name--H2 {
    font-size: 1.2rem;
}

.screen-reader-only--focusable {
    background-color: transparent;
    color: #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;

    &:focus {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

@media (min-width: $breakpoint-md) {
    #contents-separator {
        display: none;
    }

    .heading__contents {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .toc {
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        padding: 25px + $menu-height 25px 25px;
        height: 100%;

        > .toc-list {
            padding-left: 14px;
        }
    }

    .toc-link {
        margin: 4px 0;

        &:before {
            width: 4px;
        }
    }

    a.toc-link {
        color: #32363A;

        &:hover,
        &:focus {
            color: #32363A;
        }
    }

    .is-active-link {
        font-weight: 700;

        &:before {
            background-color: $library-color;
        }
    }

    .frDocs-Content {
        padding-right: 250px;
        padding-bottom: 1000px;
    }
}

@media (min-width: $breakpoint-sm) {
    .frDocs-Menu {
        &__logo {
            font-size: 24px;
        }

        &__version {
            display: block;
        }
    }
}
