$fd-icons-path: '../../node_modules/fiori-fundamentals/scss/icons/';
$fd-fonts-path: '../../node_modules/fiori-fundamentals/dist/fonts/';
@import '../../node_modules/fiori-fundamentals/scss/all.scss';

// Fundamental React Docs Styles
.frDocs-App {
    background-color: white;

   .frDocs-Container {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        .frDocs-Sidebar {
            color: #21262c;
            min-width: 16rem;
            background-color: #f1f3f6;

            .frDocs-Logo {
                font-size: 1.25rem;
                margin-bottom: 0;
                display: flex;
                justify-content: center;
                > a {
                    color: inherit;
                }
            }

            .frDocs-Nav {
                border-top: 2px solid #dbe7f3;
                height: 90%;
                overflow: auto;

                .frDocs-Nav__list {
                    list-style: none;
                }

                .frDocs-Nav__headers {
                    color: #424e5a;
                    padding: 15px 20px;
                    display: block;
                    font-weight: 700;
                    font-size: 1.25rem;
                }

                .frDocs-Nav__item {
                    display: block;
                    color: #21262c;
                    font-size: 1rem;
                    position: relative;
                    padding: 13px 40px;
                }
                
                .frDocs-Nav__item--selected {
                    border-left: 6px solid #2fd0c8;
                }
                
                .frDocs-Nav__item:hover,
                .frDocs-Nav__item--active {
                    color: #424e5a;
                    border-left: 6px solid #2fd0c8;
                    padding-left: 34px;
                }
            }
        }

        .frDocs-Content {
            flex-grow: 1;
            overflow-y: scroll;
            padding-bottom: 2rem;
            background-color: white;
            margin-right: auto;
            margin-left: 12px;
            padding-left: 1rem;
            padding-right: 1rem;

            .frDocs-Content__githubLogo {
                float: right;
                z-index: 100;
                cursor: pointer;
            }

            .frDocs-Content__githubLogo svg {
                width: 2rem;
                height: 2rem;
            }

            .frDocs-Content__header, h1 {
                margin: 12px 0;
                margin-top: 2rem;
                font-size: 2.2rem;
            }

            .frDocs-Content__description, p {
                margin-bottom: 1.5rem;
                font-size: 1rem;
                font-weight: 300;
            }

            .frDocs-Content__tile {
                border-radius: 4px 4px 0 0;
                border: 1px solid #ccc;
                border-bottom: none;
                padding: 10px 0;
                
                .frDocs-tile__background-toggle {
                    display: flex;
                    justify-content: flex-end;
                    margin: 15px;
                }

                .frDocs-tile__centered {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .frDocs-Content__tile-background {
                background: #edeef0;
                transition: background-color .25s;
            }

            .frDocs-markdown {

                ol, ul {
                    padding-left: 2rem;
                }

                pre {
                    margin: 25px 0px;
                    background-color: #fff !important;
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                    display: flex;
                    padding: 1rem;
                    font-size: 13px;
                    line-height: 1.42857143;
                    color: #333;
                    word-break: break-all;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                    code {
                        display: block;
                    }
                }
            }

            .frDocs-Content__separator {
                display: block;
                margin: 2rem 0;
                border-bottom: 1px solid #E3E3E3;
            }

            .frDocs-Content__docsText {
                padding: 15px;
                font-size: 13px;
                border: 1px solid #ccc;
                border-top: none;
                border-radius: 0 0 4px 4px;
                margin: 0;
            }
            .frDocs-docsText__button {
                padding: 5px;
                border: 1px solid #ccc;
                text-align: center;
            }

            .frDocs-docsText__buttonCopy {
                margin-left: 5px;
            }
        }
    }
}

// Fundamental React Component Overrides 
.fd-counter--notification {
    position: relative;
}

.fd-tile__content {

    .fd-button--grouped {
        margin-right: 0;
    }

    .fd-input-group {
        [class*='fd-button'] {
            margin-right: 0;
        }
    }

    .fd-doc__margin--popover .fd-popover,
    .fd-doc__margin--datePicker .fd-date-picker,
    .fd-doc__margin--token .fd-token,
    .fd-doc__margin--buttonGroup .fd-button-group,
    .fd-doc__margin--button button,
    .fd-doc__margin--panel .fd-token,
    .fd-doc__margin--panel .fd-button,
    .fd-doc__margin--dropdown .fd-dropdown,
    .fd-doc__margin--icon span,
    .fd-doc__margin--identifier span,
    .fd-doc__margin--image span,
    .fd-doc__margin--statusIndicator span {
        margin-right: 20px;
    }
}

.fd-tabs__content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fd-side-nav.fd-side-nav--icons {
    max-width: 65px;
}

.property-header {
    text-align: left;
    padding-right: 15px;
}

.fd-side-nav {
    max-width: 250px;
}

.row {
    display: flex;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 1;
    flex: 1;
}

.form-group {
    max-height: 500px;
    overflow-y: scroll;
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.schema {
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.form-group-sublevel {
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.tn-form__label {
    padding-left: 25px;
}

.fd-calendar__content {
    background: white;
}

.fd-date-picker {
    display: inline-block;
}

.fd-calendar {
    display: inline-block;
}

.demo-icon-wrapper {
    padding: 10px;
    float: left;
    width: 16%;
    text-align: center;
    height: 120px;
}

.fd-table {
    &.property-table {
        border: 0;

        thead {
            background: transparent;

            > tr {
                > th {
                    padding: inherit 0;
                }
            }
        }

        tbody {
            > tr {
                > td {
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }

        thead,
        tbody {
            > tr {
                vertical-align: top;

                > th,
                > td {
                    width: 20%;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        width: 40%;
                        padding-right: 0;
                    }
                }
            }
        }

        .prop-required {
            color: var(--fd-color-status-3);
        }
    }
}
