$fd-icons-path: '../../node_modules/fiori-fundamentals/scss/icons/';
$fd-fonts-path: '../../node_modules/fiori-fundamentals/dist/fonts/';
@import '~fiori-fundamentals/scss/all.scss';
@import '~tocbot/src/scss/tocbot-core';
@import '~tocbot/src/scss/tocbot-default-theme';

$shell-color: #354A5F;
$library-color: #61dafb;
$menu-height: 50px;

// Fundamental React Docs Styles
.frDocs-App {
    background-color: white;
}

.frDocs-Container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.frDocs-Menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $shell-color;
    color: #fff;
    padding: 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;

    &__logo {
        flex: 0 0 auto;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #fff;

        &--library {
            color: $library-color;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }

    &__version {
        flex: 0 0 auto;
        padding: 0 25px;
        font-size: 1.2rem;
    }

    &__githubLogo {
        flex: 0 0 auto;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        display: block;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.frDocs-Sidebar {
    padding-top: $menu-height;
    color: #21262c;
    min-width: 265px;
    width: 265px;
    background-color: #EDEFF0;
    display: flex;
    flex-direction: column;
    transition: 0.3s margin ease-in-out, 0.3s box-shadow ease-in-out;
}

.frDocs-Nav {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
    padding: 0.5rem 0 1rem;

    &__list {
        list-style: none;
    }

    &__headers {
        color: #515559;
        padding: 15px 20px;
        display: block;
        font-weight: 700;
        font-size: 1.25rem;
    }

    &__item {
        display: block;
        margin-left: 1px;
        color: #21262c;
        font-size: 1rem;
        position: relative;
        padding: 13px 40px;
        transition: background .15hs ease-in;

        &:hover,
        &:focus {
            background-color: #fafafa;
            color: #085caf;
        }

        &--active {
            color: #32363A;
            box-shadow: inset 6px 0 0 0 $library-color;
            cursor: pointer;
            background-color: #fff;
            font-weight: 700;
        }
    }
}

.frDocs-Search {
    flex: 0 0 auto;
    padding: 15px 20px;
    -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.frDocs-Content {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: white;
    padding: 2rem;
    padding-top: $menu-height + 25px;

    &__header,
    .frDocs-markdown>h1 {
        margin: 0 0 12px;
        font-size: 2.2rem;
        line-height: 1;
    }

    &__header:empty {
        display: none;
    }

    &__description,
    .frDocs-markdown>p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 300;
    }

    &__tile {
        border-radius: 4px 4px 0 0;
        border: 1px solid #ccc;
        border-bottom: none;
        padding: 10px 0;

        .frDocs-tile__background-toggle {
            display: flex;
            justify-content: flex-end;
            margin: 15px;
        }

        .frDocs-tile__centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__tile-background {
        background: #edeef0;
        transition: background-color .25s;
    }

    &__separator {
        display: block;
        margin: 2rem 0;
        border-bottom: 1px solid #E3E3E3;
    }

    &__docsText {
        padding: 15px;
        font-size: 13px;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 4px 4px;
        margin: 0;
    }

    .frDocs-docsText__button {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .frDocs-docsText__buttonCopy {
        margin-left: 5px;
    }
}

.frDocs-markdown {
    ol,
    ul {
        padding-left: 2rem;
    }

    pre {
        margin: 25px 0px;
        background-color: #fff !important;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        display: flex;
        padding: 1rem;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        border: 1px solid #ccc;
        border-radius: 4px;

        code {
            display: block;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:target {
        &:before {
            display: block;
            content: ' ';
            height: $menu-height + 25px;
            margin-top: -$menu-height + 25px;
            visibility: hidden;
        }
    }
}

// Fundamental React Component Overrides 
.fd-counter--notification {
    position: relative;
}

.fd-tile__content {

    .fd-button--grouped {
        margin-right: 0;
    }

    .fd-input-group {
        [class*='fd-button'] {
            margin-right: 0;
        }
    }

    .fd-doc__margin--popover .fd-popover,
    .fd-doc__margin--datePicker .fd-date-picker,
    .fd-doc__margin--token .fd-token,
    .fd-doc__margin--buttonGroup .fd-button-group,
    .fd-doc__margin--button button,
    .fd-doc__margin--panel .fd-token,
    .fd-doc__margin--panel .fd-button,
    .fd-doc__margin--dropdown .fd-dropdown,
    .fd-doc__margin--icon span,
    .fd-doc__margin--identifier span,
    .fd-doc__margin--image span,
    .fd-doc__margin--statusIndicator span {
        margin-right: 20px;
    }
}

.fd-tabs__content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fd-side-nav.fd-side-nav--icons {
    max-width: 65px;
}

.property-header {
    text-align: left;
    padding-right: 15px;
}

.fd-side-nav {
    max-width: 250px;
}

.row {
    display: flex;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 1;
    flex: 1;
}

.form-group {
    max-height: 500px;
    overflow-y: scroll;
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.schema {
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.form-group-sublevel {
    display: block;
    padding: 20px;
    border: 1px #eee solid;
}

.tn-form__label {
    padding-left: 25px;
}

.fd-calendar__content {
    background: white;
}

.fd-date-picker {
    display: inline-block;
}

.fd-calendar {
    display: inline-block;
}

.demo-icon-wrapper {
    padding: 10px;
    float: left;
    width: 16%;
    text-align: center;
    height: 120px;
}

.fd-table {
    &.property-table {
        border: 0;

        thead {
            background: transparent;

            >tr {
                >th {
                    padding: inherit 0;
                }
            }
        }

        tbody {
            >tr {
                >td {
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }

        thead,
        tbody {
            >tr {
                vertical-align: top;

                >th,
                >td {
                    width: 20%;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        width: 40%;
                        padding-right: 0;
                    }
                }
            }
        }

        .prop-required {
            color: var(--fd-color-status-3);
        }
    }
}

.toc {
    > .toc-list {
        padding-left: 0;
    }
}

.toc-link {
    margin: 5px 0;
    padding-left: 15px;
    text-indent: -15px;

    &:before {
        width: 0;
    }
}

.is-active-link {
    &:before {
        background-color: $library-color;
    }
}

.node-name--H2 {
    font-size: 1.2rem;
}

@media (min-width: 1200px) {
    .toc {
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        padding: 25px + $menu-height 25px 25px;
        height: 100%;

        > .toc-list {
            padding-left: 14px;
        }
    }

    .toc-link {
        &:before {
            width: 4px;
        }
    }

    .frDocs-App {
        .frDocs-Container {
            .frDocs-Content {
                padding-right: 250px;
                padding-bottom: 1000px;
            }
        }
    }
}
