/* ${copyright}.  Theming Engine 1.51.0 */
$sapBrandColor: #0a6ed1;
$sapHighlightColor: #0854a0;
$sapBaseColor: #fff;
$sapShellColor: #354a5f;
$sapBackgroundColor: #f7f7f7;
$sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
$sapFontLightFamily: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif;
$sapFontBoldFamily: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
$sapFontHeaderFamily: "72", "72full", Arial, Helvetica, sans-serif;
$sapFontSize: .875rem;
$sapFontSmallSize: .75rem;
$sapFontLargeSize: 1rem;
$sapFontHeader1Size: 2.25rem;
$sapFontHeader2Size: 1.5rem;
$sapFontHeader3Size: 1.25rem;
$sapFontHeader4Size: 1.125rem;
$sapFontHeader5Size: 1rem;
$sapFontHeader6Size: .875rem;
$sapTextColor: #32363a;
$sapLinkColor: #0a6ed1;
$sapLink_Hover_Color: #0854a0;
$sapLink_Active_Color: #0a6ed1;
$sapLink_Visited_Color: #0a6ed1;
$sapLink_InvertedColor: #d3e8fd;
$sapLink_SubtleColor: #074888;
$sapCompanyLogo: none;
$sapBackgroundImage: none;
$sapBackgroundImageOpacity: 1.0;
$sapBackgroundImageRepeat: false;
$sapSelectedColor: #0854a0;
$sapActiveColor: #0854a0;
$sapHighlightTextColor: #fff;
$sapTitleColor: #32363a;
$sapNegativeColor: #bb0000;
$sapCriticalColor: #e9730c;
$sapPositiveColor: #107e3e;
$sapInformativeColor: #0a6ed1;
$sapNeutralColor: #6a6d70;
$sapNegativeElementColor: #bb0000;
$sapCriticalElementColor: #e9730c;
$sapPositiveElementColor: #107e3e;
$sapInformativeElementColor: #0a6ed1;
$sapNeutralElementColor: #6a6d70;
$sapNegativeTextColor: #bb0000;
$sapPositiveTextColor: #107e3e;
$sapCriticalTextColor: #e9730c;
$sapInformativeTextColor: #053b70;
$sapNeutralTextColor: #6a6d70;
$sapNeutralBorderColor: #6a6d70;
$sapErrorColor: #bb0000;
$sapErrorBorderColor: #bb0000;
$sapWarningColor: #e9730c;
$sapWarningBorderColor: #e9730c;
$sapSuccessColor: #107e3e;
$sapSuccessBorderColor: #107e3e;
$sapInformationColor: #0a6ed1;
$sapInformationBorderColor: #0a6ed1;
$sapErrorBackground: #ffebeb;
$sapWarningBackground: #fef7f1;
$sapSuccessBackground: #f1fdf6;
$sapInformationBackground: #f5faff;
$sapNeutralBackground: #f4f4f4;
$sapIndicationColor_1: #880000;
$sapIndicationColor_1_Hover_Background: #6f0000;
$sapIndicationColor_1_Active_Background: #500;
$sapIndicationColor_1_TextColor: #fff;
$sapIndicationColor_2: #bb0000;
$sapIndicationColor_2_Hover_Background: #a20000;
$sapIndicationColor_2_Active_Background: #800;
$sapIndicationColor_2_TextColor: #fff;
$sapIndicationColor_3: #e9730c;
$sapIndicationColor_3_Hover_Background: #da6c0b;
$sapIndicationColor_3_Active_Background: #cc650b;
$sapIndicationColor_3_TextColor: #fff;
$sapIndicationColor_4: #107e3e;
$sapIndicationColor_4_Hover_Background: #0d6733;
$sapIndicationColor_4_Active_Background: #0a5128;
$sapIndicationColor_4_TextColor: #fff;
$sapIndicationColor_5: #0a6ed1;
$sapIndicationColor_5_Hover_Background: #0961b9;
$sapIndicationColor_5_Active_Background: #0854a0;
$sapIndicationColor_5_TextColor: #fff;
$sapIndicationColor_6: #0f828f;
$sapIndicationColor_6_Hover_Background: #0d6d78;
$sapIndicationColor_6_Active_Background: #0a5861;
$sapIndicationColor_6_TextColor: #fff;
$sapIndicationColor_7: #925ace;
$sapIndicationColor_7_Hover_Background: #8546c8;
$sapIndicationColor_7_Active_Background: #7838bd;
$sapIndicationColor_7_TextColor: #fff;
$sapIndicationColor_8: #c0399f;
$sapIndicationColor_8_Hover_Background: #ac338f;
$sapIndicationColor_8_Active_Background: #992d7e;
$sapIndicationColor_8_TextColor: #fff;
$sapElement_LineHeight: 2.75rem;
$sapElement_Height: 2.25rem;
$sapElement_BorderWidth: .0625rem;
$sapElement_BorderCornerRadius: .25rem;
$sapElement_Compact_LineHeight: 2rem;
$sapElement_Compact_Height: 1.625rem;
$sapElement_Condensed_LineHeight: 1.5rem;
$sapElement_Condensed_Height: 1.375rem;
$sapContent_LineHeight: 1.4;
$sapContent_IconHeight: 1rem;
$sapContent_IconColor: #0854a0;
$sapContent_ContrastIconColor: #fff;
$sapContent_NonInteractiveIconColor: #6a6d70;
$sapContent_MarkerIconColor: #286eb4;
$sapContent_MarkerTextColor: #0e7581;
$sapContent_ImagePlaceholderBackground: #ccc;
$sapContent_ImagePlaceholderForegroundColor: #fff;
$sapContent_RatedColor: #d08014;
$sapContent_UnratedColor: #89919a;
$sapContent_FocusColor: #000;
$sapContent_FocusStyle: dotted;
$sapContent_FocusWidth: .0625rem;
$sapContent_ContrastFocusColor: #fff;
$sapContent_ShadowColor: #000;
$sapContent_ContrastShadowColor: #fff;
$sapContent_Shadow0: 0 0 0 0.0625rem rgba(0,0,0,0.1), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.1);
$sapContent_Shadow1: 0 0 0 0.0625rem rgba(0,0,0,0.42), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.3);
$sapContent_Shadow2: 0 0 0 0.0625rem rgba(0,0,0,0.42), 0 0.625rem 1.875rem 0 rgba(0,0,0,0.3);
$sapContent_Shadow3: 0 0 0 0.0625rem rgba(0,0,0,0.42), 0 1.25rem 5rem 0 rgba(0,0,0,0.3);
$sapContent_TextShadow: 0 0 0.125rem #fff;
$sapContent_HeaderShadow: 0 0 0.25rem 0 rgba(0,0,0,0.15), inset 0 -0.0625rem 0 0 #d9d9d9;
$sapContent_SearchHighlightColor: #d4f7db;
$sapContent_HelpColor: #3f8600;
$sapContent_LabelColor: #6a6d70;
$sapContent_MonospaceFontFamily: lucida console, monospace;
$sapContent_DisabledTextColor: rgba(50,54,58,0.6);
$sapContent_DisabledOpacity: 0.4;
$sapContent_ContrastTextThreshold: 0.65;
$sapContent_ContrastTextColor: #fff;
$sapContent_ForegroundColor: #efefef;
$sapContent_ForegroundBorderColor: #89919a;
$sapContent_ForegroundTextColor: #32363a;
$sapContent_BadgeBackground: #d04343;
$sapContent_BadgeTextColor: #fff;
$sapContent_Placeholderloading_Background: #e0e0e0;
$sapContent_Placeholderloading_Gradient: linear-gradient(to right, #e0e0e0 0%, #e0e0e0 35%, #d3d3d3 50%, #e0e0e0 65%, #e0e0e0 100%);
$sapContent_DragAndDropActiveColor: #0854a0;
$sapContent_Selected_Background: #0854a0;
$sapContent_Selected_TextColor: #fff;
$sapContent_Selected_Hover_Background: #095caf;
$sapContent_Illustrative_Color1: #0a6ed1;
$sapContent_Illustrative_Color2: #72b5f8;
$sapContent_Illustrative_Color3: #ffba10;
$sapContent_Illustrative_Color4: #4a5055;
$sapContent_Illustrative_Color5: #9da4aa;
$sapContent_Illustrative_Color6: #c6cace;
$sapContent_Illustrative_Color7: #e7e9ea;
$sapContent_Illustrative_Color8: #ffffff;
$sapShell_Background: #edeff0;
$sapShell_BackgroundImage: linear-gradient(to bottom, #dfe3e4, #f3f4f5);
$sapShell_BackgroundGradient: linear-gradient(to bottom, #dfe3e4, #f3f4f5);
$sapShell_BackgroundImageOpacity: 1.0;
$sapShell_BackgroundImageRepeat: false;
$sapShell_BorderColor: #354a5f;
$sapShell_TextColor: #fff;
$sapShell_InteractiveTextColor: #d1e8ff;
$sapShell_InteractiveBorderColor: #7996b4;
$sapShell_GroupTitleTextColor: #32363a;
$sapShell_Hover_Background: #283848;
$sapShell_Active_Background: #23303e;
$sapShell_Active_TextColor: #fff;
$sapShell_Selected_Background: #23303e;
$sapShell_Selected_TextColor: #fff;
$sapShell_Selected_Hover_Background: #23303e;
$sapShell_Favicon: none;
$sapShell_Navigation_Background: #fff;
$sapShell_Navigation_SelectedColor: #0854a0;
$sapShell_Navigation_Selected_TextColor: #0854a0;
$sapShell_Navigation_TextColor: #32363a;
$sapShell_Shadow: 0 0 0.25rem 0 rgba(0,0,0,0.15), inset 0 -0.0625rem 0 0 rgba(0,0,0,0.2);
$sapButton_BorderWidth: .0625rem;
$sapButton_BorderCornerRadius: .25rem;
$sapButton_Background: #fff;
$sapButton_BorderColor: #0854a0;
$sapButton_TextColor: #0854a0;
$sapButton_Hover_Background: #ebf5fe;
$sapButton_Hover_BorderColor: #0854a0;
$sapButton_Hover_TextColor: #0854a0;
$sapButton_IconColor: #0854a0;
$sapButton_Active_Background: #0854a0;
$sapButton_Active_BorderColor: #0854a0;
$sapButton_Active_TextColor: #fff;
$sapButton_Emphasized_Background: #0a6ed1;
$sapButton_Emphasized_BorderColor: #0a6ed1;
$sapButton_Emphasized_TextColor: #fff;
$sapButton_Emphasized_Hover_Background: #085caf;
$sapButton_Emphasized_Hover_BorderColor: #085caf;
$sapButton_Emphasized_Hover_TextColor: #fff;
$sapButton_Emphasized_Active_Background: #0854a0;
$sapButton_Emphasized_Active_BorderColor: #0854a0;
$sapButton_Emphasized_TextShadow: transparent;
$sapButton_Accept_Background: #fff;
$sapButton_Accept_BorderColor: #107e3e;
$sapButton_Accept_Hover_Background: #f1fdf6;
$sapButton_Accept_Hover_BorderColor: #107e3e;
$sapButton_Accept_Hover_TextColor: #107e3e;
$sapButton_Accept_Active_Background: #0d6733;
$sapButton_Accept_Active_BorderColor: #0d6733;
$sapButton_Accept_TextColor: #107e3e;
$sapButton_Accept_Selected_Background: #0d6733;
$sapButton_Accept_Selected_BorderColor: #0d6733;
$sapButton_Accept_Selected_TextColor: #fff;
$sapButton_Accept_Selected_Hover_Background: #107e3e;
$sapButton_Accept_Selected_Hover_BorderColor: #107e3e;
$sapButton_Reject_Background: #fff;
$sapButton_Reject_BorderColor: #bb0000;
$sapButton_Reject_Hover_Background: #ffebeb;
$sapButton_Reject_Hover_BorderColor: #bb0000;
$sapButton_Reject_Hover_TextColor: #b00;
$sapButton_Reject_Active_Background: #a20000;
$sapButton_Reject_Active_BorderColor: #a20000;
$sapButton_Reject_TextColor: #b00;
$sapButton_Reject_Selected_Background: #a20000;
$sapButton_Reject_Selected_BorderColor: #a20000;
$sapButton_Reject_Selected_TextColor: #fff;
$sapButton_Reject_Selected_Hover_Background: #b00;
$sapButton_Reject_Selected_Hover_BorderColor: #b00;
$sapButton_Lite_Background: transparent;
$sapButton_Lite_BorderColor: transparent;
$sapButton_Lite_TextColor: #0854a0;
$sapButton_Lite_Hover_Background: #ebf5fe;
$sapButton_Lite_Hover_BorderColor: #0854a0;
$sapButton_Lite_Hover_TextColor: #0854a0;
$sapButton_Lite_Active_Background: #0854a0;
$sapButton_Lite_Active_BorderColor: #0854a0;
$sapButton_Selected_Background: #0854a0;
$sapButton_Selected_BorderColor: #0854a0;
$sapButton_Selected_TextColor: #fff;
$sapButton_Selected_Hover_Background: #095caf;
$sapButton_Selected_Hover_BorderColor: #095caf;
$sapButton_Attention_Background: #fff;
$sapButton_Attention_BorderColor: #e9730c;
$sapButton_Attention_TextColor: #e9730c;
$sapButton_Attention_Hover_Background: #fef7f1;
$sapButton_Attention_Hover_BorderColor: #e9730c;
$sapButton_Attention_Hover_TextColor: #e9730c;
$sapButton_Attention_Active_Background: #d1670b;
$sapButton_Attention_Active_BorderColor: #d1670b;
$sapButton_Attention_Selected_Background: #d1670b;
$sapButton_Attention_Selected_BorderColor: #d1670b;
$sapButton_Attention_Selected_TextColor: #fff;
$sapButton_Attention_Selected_Hover_Background: #e9730c;
$sapButton_Attention_Selected_Hover_BorderColor: #e9730c;
$sapButton_Negative_Background: #bb0000;
$sapButton_Negative_BorderColor: #bb0000;
$sapButton_Negative_TextColor: #fff;
$sapButton_Negative_Hover_Background: #970000;
$sapButton_Negative_Hover_BorderColor: #970000;
$sapButton_Negative_Hover_TextColor: #fff;
$sapButton_Negative_Active_Background: #800;
$sapButton_Negative_Active_BorderColor: #800;
$sapButton_Critical_Background: #e9730c;
$sapButton_Critical_BorderColor: #e9730c;
$sapButton_Critical_TextColor: #fff;
$sapButton_Critical_Hover_Background: #c7620a;
$sapButton_Critical_Hover_BorderColor: #c7620a;
$sapButton_Critical_Hover_TextColor: #fff;
$sapButton_Critical_Active_Background: #b85b0a;
$sapButton_Critical_Active_BorderColor: #b85b0a;
$sapButton_Success_Background: #107e3e;
$sapButton_Success_BorderColor: #107e3e;
$sapButton_Success_TextColor: #fff;
$sapButton_Success_Hover_Background: #0c5e2e;
$sapButton_Success_Hover_BorderColor: #0c5e2e;
$sapButton_Success_Hover_TextColor: #fff;
$sapButton_Success_Active_Background: #0a5128;
$sapButton_Success_Active_BorderColor: #0a5128;
$sapButton_Information_Background: #0a6ed1;
$sapButton_Information_BorderColor: #0a6ed1;
$sapButton_Information_TextColor: #fff;
$sapButton_Information_Hover_Background: #0961b9;
$sapButton_Information_Hover_BorderColor: #0961b9;
$sapButton_Information_Hover_TextColor: #fff;
$sapButton_Information_Active_Background: #0854a0;
$sapButton_Information_Active_BorderColor: #0854a0;
$sapButton_Neutral_Background: #6a6d70;
$sapButton_Neutral_BorderColor: #6a6d70;
$sapButton_Neutral_TextColor: #fff;
$sapButton_Neutral_Hover_Background: #595b5e;
$sapButton_Neutral_Hover_BorderColor: #595b5e;
$sapButton_Neutral_Hover_TextColor: #fff;
$sapButton_Neutral_Active_Background: #515456;
$sapButton_Neutral_Active_BorderColor: #515456;
$sapButton_Track_Selected_Background: #ebf5fe;
$sapButton_Track_Selected_TextColor: #32363a;
$sapButton_Track_Background: #ededed;
$sapButton_Track_TextColor: #32363a;
$sapButton_TokenBackground: #fafafa;
$sapButton_TokenBorderColor: #c2c2c2;
$sapField_Background: #fff;
$sapField_TextColor: #32363a;
$sapField_PlaceholderTextColor: #74777a;
$sapField_BorderColor: #89919a;
$sapField_HelpBackground: #fff;
$sapField_BorderWidth: .0625rem;
$sapField_BorderCornerRadius: .125rem;
$sapField_Hover_Background: #fff;
$sapField_Hover_BorderColor: #0854a0;
$sapField_Hover_HelpBackground: #ebf5fe;
$sapField_Active_BorderColor: #0854a0;
$sapField_Focus_Background: #fff;
$sapField_Focus_BorderColor: #89919a;
$sapField_Focus_HelpBackground: #fff;
$sapField_ReadOnly_Background: rgba(242,242,242,0.5);
$sapField_ReadOnly_BorderColor: #89919a;
$sapField_ReadOnly_HelpBackground: rgba(242,242,242,0.5);
$sapField_RequiredColor: #ce3b3b;
$sapField_InvalidColor: #bb0000;
$sapField_InvalidBackground: #fff;
$sapField_WarningColor: #e9730c;
$sapField_WarningBackground: #fff;
$sapField_SuccessColor: #107e3e;
$sapField_SuccessBackground: #fff;
$sapField_InformationColor: #0a6ed1;
$sapField_InformationBackground: #fff;
$sapGroup_TitleBackground: transparent;
$sapGroup_TitleBorderColor: #d9d9d9;
$sapGroup_TitleTextColor: #32363a;
$sapGroup_ContentBackground: #fff;
$sapGroup_ContentBorderColor: #d9d9d9;
$sapGroup_BorderWidth: .0625rem;
$sapGroup_BorderCornerRadius: 0;
$sapGroup_FooterBackground: transparent;
$sapToolbar_Background: transparent;
$sapToolbar_SeparatorColor: #d9d9d9;
$sapList_HeaderBackground: #f2f2f2;
$sapList_HeaderBorderColor: #e4e4e4;
$sapList_HeaderTextColor: #32363a;
$sapList_BorderColor: #e4e4e4;
$sapList_TextColor: #32363a;
$sapList_Active_TextColor: #fff;
$sapList_BorderWidth: .0625rem;
$sapList_Active_Background: #0854a0;
$sapList_SelectionBackgroundColor: #e5f0fa;
$sapList_SelectionBorderColor: #0854a0;
$sapList_Hover_SelectionBackground: #d8e9f8;
$sapList_Background: #fff;
$sapList_Hover_Background: #f5f5f5;
$sapList_AlternatingBackground: #fafafa;
$sapList_GroupHeaderBackground: #fff;
$sapList_GroupHeaderBorderColor: #d8d8d8;
$sapList_GroupHeaderTextColor: #32363a;
$sapList_FooterBackground: #fafafa;
$sapList_FooterTextColor: #32363a;
$sapList_TableGroupHeaderBackground: #efefef;
$sapList_TableGroupHeaderBorderColor: #d8d8d8;
$sapList_TableGroupHeaderTextColor: #32363a;
$sapList_TableFooterBorder: #d8d8d8;
$sapList_TableFixedBorderColor: #d8d8d8;
$sapScrollBar_FaceColor: #949494;
$sapScrollBar_TrackColor: #fff;
$sapScrollBar_BorderColor: #949494;
$sapScrollBar_SymbolColor: #0854a0;
$sapScrollBar_Dimension: .75rem;
$sapScrollBar_Hover_FaceColor: #8c8c8c;
$sapPageHeader_Background: #fff;
$sapPageHeader_BorderColor: #d9d9d9;
$sapPageHeader_TextColor: #32363a;
$sapPageFooter_Background: #fff;
$sapPageFooter_BorderColor: #d9d9d9;
$sapPageFooter_TextColor: #32363a;
$sapInfobar_Background: #0f828f;
$sapInfobar_Hover_Background: #0e7581;
$sapInfobar_Active_Background: #0a545c;
$sapObjectHeader_Background: #fff;
$sapObjectHeader_BorderColor: #d9d9d9;
$sapBlockLayer_Background: #000;
$sapTile_Background: #fff;
$sapTile_Hover_Background: #f5f5f5;
$sapTile_Active_Background: #f5f5f5;
$sapTile_BorderColor: transparent;
$sapTile_TitleTextColor: #32363a;
$sapTile_TextColor: #6a6d70;
$sapTile_IconColor: #5a7da0;
$sapTile_SeparatorColor: #ccc;
$sapAccentColor1: #d08014;
$sapAccentColor2: #d04343;
$sapAccentColor3: #db1f77;
$sapAccentColor4: #c0399f;
$sapAccentColor5: #6367de;
$sapAccentColor6: #286eb4;
$sapAccentColor7: #0f828f;
$sapAccentColor8: #7ca10c;
$sapAccentColor9: #925ace;
$sapAccentColor10: #647987;
$sapLegend_WorkingBackground: #fafafa;
$sapLegend_NonWorkingBackground: #dedede;
$sapLegend_CurrentDateTime: #c0399f;
$sapLegendColor1: #d58215;
$sapLegendColor2: #dc5b5b;
$sapLegendColor3: #db1f77;
$sapLegendColor4: #9b3b3b;
$sapLegendColor5: #cf5db3;
$sapLegendColor6: #286eb4;
$sapLegendColor7: #1193a2;
$sapLegendColor8: #8b9668;
$sapLegendColor9: #647987;
$sapLegendColor10: #892971;
$sapLegendColor11: #725a3a;
$sapLegendColor12: #bb2f2f;
$sapLegendColor13: #bc1b66;
$sapLegendColor14: #8b714f;
$sapLegendColor15: #606190;
$sapLegendColor16: #597da1;
$sapLegendColor17: #49797e;
$sapLegendColor18: #687a33;
$sapLegendColor19: #295989;
$sapLegendColor20: #5154bd;
$sapLegendBackgroundColor1: #fdf3e7;
$sapLegendBackgroundColor2: #faeaea;
$sapLegendBackgroundColor3: #fce9f2;
$sapLegendBackgroundColor4: #f8ecec;
$sapLegendBackgroundColor5: #f9ebf5;
$sapLegendBackgroundColor6: #ebf3fa;
$sapLegendBackgroundColor7: #e8fbfd;
$sapLegendBackgroundColor8: #f3f4ef;
$sapLegendBackgroundColor9: #f1f3f4;
$sapLegendBackgroundColor10: #f9ebf6;
$sapLegendBackgroundColor11: #f6f2ed;
$sapLegendBackgroundColor12: #faeaea;
$sapLegendBackgroundColor13: #fce9f2;
$sapLegendBackgroundColor14: #f5f2ee;
$sapLegendBackgroundColor15: #f0f0f5;
$sapLegendBackgroundColor16: #eff2f6;
$sapLegendBackgroundColor17: #eff5f6;
$sapLegendBackgroundColor18: #f5f7ed;
$sapLegendBackgroundColor19: #ebf2f9;
$sapLegendBackgroundColor20: #ecedf8;
$sapChart_OrderedColor_1: #5899da;
$sapChart_OrderedColor_2: #e8743b;
$sapChart_OrderedColor_3: #19a979;
$sapChart_OrderedColor_4: #ed4a7b;
$sapChart_OrderedColor_5: #945ecf;
$sapChart_OrderedColor_6: #13a4b4;
$sapChart_OrderedColor_7: #525df4;
$sapChart_OrderedColor_8: #bf399e;
$sapChart_OrderedColor_9: #6c8893;
$sapChart_OrderedColor_10: #ee6868;
$sapChart_OrderedColor_11: #2f6497;
$sapChart_Bad: #dc0d0e;
$sapChart_Critical: #de890d;
$sapChart_Good: #3fa45b;
$sapChart_Neutral: #848f94;
$sapChart_Sequence_1: #5899da;
$sapChart_Sequence_2: #e8743b;
$sapChart_Sequence_3: #19a979;
$sapChart_Sequence_4: #ed4a7b;
$sapChart_Sequence_5: #945ecf;
$sapChart_Sequence_6: #13a4b4;
$sapChart_Sequence_7: #525df4;
$sapChart_Sequence_8: #bf399e;
$sapChart_Sequence_9: #6c8893;
$sapChart_Sequence_10: #ee6868;
$sapChart_Sequence_11: #2f6497;
$sapChart_Sequence_Neutral: #848f94;
$sapFontUrl_SAP-icons_ttf: url('../../../Base/baseLib/sap_fiori_3/fonts/SAP-icons.ttf');
$sapFontUrl_SAP-icons_woff: url('../../../Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff');
$sapFontUrl_SAP-icons_woff2: url('../../../Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff2');
$sapFontUrl_72_Regular_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff2');
$sapFontUrl_72_Regular_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff');
$sapFontUrl_72_Bold_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff2');
$sapFontUrl_72_Bold_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff');
$sapFontUrl_72_Light_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff2');
$sapFontUrl_72_Light_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff');
$sapFontUrl_72_Regular_full_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff2');
$sapFontUrl_72_Regular_full_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff');
$sapFontUrl_72_Bold_full_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2');
$sapFontUrl_72_Bold_full_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff');
$sapFontUrl_72_Light_full_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2');
$sapFontUrl_72_Light_full_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff');
$dark--sapBrandColor: #91c8f6;
$dark--sapHighlightColor: #91c8f6;
$dark--sapBaseColor: #29313a;
$dark--sapBackgroundColor: #1c2228;
$dark--sapTextColor: #fafafa;
$dark--sapLinkColor: #91c8f6;
$dark--sapLink_Hover_Color: #62b0f2;
$dark--sapLink_Active_Color: #91c8f6;
$dark--sapLink_Visited_Color: #91c8f6;
$dark--sapLink_InvertedColor: #d3e9fb;
$dark--sapLink_SubtleColor: #eff7fe;
$dark--sapSelectedColor: #91c8f6;
$dark--sapActiveColor: #91c8f6;
$dark--sapHighlightTextColor: #29313a;
$dark--sapTitleColor: #fafafa;
$dark--sapNegativeColor: #ff8888;
$dark--sapCriticalColor: #fabd64;
$dark--sapPositiveColor: #abe2ab;
$dark--sapInformativeColor: #91c8f6;
$dark--sapNeutralColor: #d3d7d9;
$dark--sapNegativeElementColor: #ff8888;
$dark--sapCriticalElementColor: #fabd64;
$dark--sapPositiveElementColor: #abe2ab;
$dark--sapInformativeElementColor: #91c8f6;
$dark--sapNeutralElementColor: #d3d7d9;
$dark--sapNegativeTextColor: #ff8888;
$dark--sapPositiveTextColor: #abe2ab;
$dark--sapCriticalTextColor: #fabd64;
$dark--sapInformativeTextColor: #c0e0fa;
$dark--sapNeutralTextColor: #d3d7d9;
$dark--sapNeutralBorderColor: #d3d7d9;
$dark--sapErrorColor: #ff8888;
$dark--sapErrorBorderColor: #ff8888;
$dark--sapWarningColor: #fabd64;
$dark--sapWarningBorderColor: #fabd64;
$dark--sapSuccessColor: #abe2ab;
$dark--sapSuccessBorderColor: #abe2ab;
$dark--sapInformationColor: #91c8f6;
$dark--sapInformationBorderColor: #91c8f6;
$dark--sapErrorBackground: #3b0000;
$dark--sapWarningBackground: #2b1a01;
$dark--sapSuccessBackground: #153c15;
$dark--sapInformationBackground: #062e4f;
$dark--sapNeutralBackground: #5c666b;
$dark--sapIndicationColor_1: #ff5555;
$dark--sapIndicationColor_1_Hover_Background: #ff6f6f;
$dark--sapIndicationColor_1_Active_Background: #f88;
$dark--sapIndicationColor_1_TextColor: #fafafa;
$dark--sapIndicationColor_2: #ff8888;
$dark--sapIndicationColor_2_Hover_Background: #ffa2a2;
$dark--sapIndicationColor_2_Active_Background: #fbb;
$dark--sapIndicationColor_2_TextColor: #29313a;
$dark--sapIndicationColor_3: #fabd64;
$dark--sapIndicationColor_3_Hover_Background: #fac373;
$dark--sapIndicationColor_3_Active_Background: #fbca82;
$dark--sapIndicationColor_3_TextColor: #29313a;
$dark--sapIndicationColor_4: #abe2ab;
$dark--sapIndicationColor_4_Hover_Background: #bee9be;
$dark--sapIndicationColor_4_Active_Background: #d1efd1;
$dark--sapIndicationColor_4_TextColor: #29313a;
$dark--sapIndicationColor_5: #91c8f6;
$dark--sapIndicationColor_5_Hover_Background: #a9d4f8;
$dark--sapIndicationColor_5_Active_Background: #c0e0fa;
$dark--sapIndicationColor_5_TextColor: #29313a;
$dark--sapIndicationColor_6: #7FC6C6;
$dark--sapIndicationColor_6_Hover_Background: #91cece;
$dark--sapIndicationColor_6_Active_Background: #a2d6d6;
$dark--sapIndicationColor_6_TextColor: #29313a;
$dark--sapIndicationColor_7: #B995E0;
$dark--sapIndicationColor_7_Hover_Background: #c6a9e6;
$dark--sapIndicationColor_7_Active_Background: #d3bcec;
$dark--sapIndicationColor_7_TextColor: #29313a;
$dark--sapIndicationColor_8: #E269C9;
$dark--sapIndicationColor_8_Hover_Background: #e67ed1;
$dark--sapIndicationColor_8_Active_Background: #ea94d8;
$dark--sapIndicationColor_8_TextColor: #29313a;
$dark--sapContent_IconColor: #91c8f6;
$dark--sapContent_ContrastIconColor: #29313a;
$dark--sapContent_NonInteractiveIconColor: #d3d7d9;
$dark--sapContent_MarkerIconColor: #6bd3ff;
$dark--sapContent_MarkerTextColor: #7fc6c6;
$dark--sapContent_ImagePlaceholderBackground: #687d94;
$dark--sapContent_ImagePlaceholderForegroundColor: #29313a;
$dark--sapContent_RatedColor: #ffc847;
$dark--sapContent_UnratedColor: #8696a9;
$dark--sapContent_FocusColor: #fff;
$dark--sapContent_ContrastFocusColor: #000;
$dark--sapContent_Shadow0: 0 0 0 0.0625rem rgba(255,255,255,0.2), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.3);
$dark--sapContent_Shadow1: 0 0 0 0.0625rem rgba(255,255,255,0.5), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.6);
$dark--sapContent_Shadow2: 0 0 0 0.0625rem rgba(255,255,255,0.5), 0 0.625rem 1.875rem 0 rgba(0,0,0,0.6);
$dark--sapContent_Shadow3: 0 0 0 0.0625rem rgba(255,255,255,0.5), 0 1.25rem 5rem 0 rgba(0,0,0,0.6);
$dark--sapContent_TextShadow: 0 0 0.125rem #000;
$dark--sapContent_HeaderShadow: 0 0 0.25rem 0 rgba(0,0,0,0.8), inset 0 -0.0625rem 0 0 #3a4552;
$dark--sapContent_SearchHighlightColor: #058088;
$dark--sapContent_HelpColor: #57b900;
$dark--sapContent_LabelColor: #d3d7d9;
$dark--sapContent_DisabledTextColor: rgba(250,250,250,0.6);
$dark--sapContent_ContrastTextThreshold: 0.5;
$dark--sapContent_ContrastTextColor: #29313a;
$dark--sapContent_ForegroundColor: #1c2228;
$dark--sapContent_ForegroundBorderColor: #8696a9;
$dark--sapContent_ForegroundTextColor: #fafafa;
$dark--sapContent_BadgeBackground: #d14242;
$dark--sapContent_Placeholderloading_Background: #424f5e;
$dark--sapContent_Placeholderloading_Gradient: linear-gradient(to right, #424f5e 0%, #424f5e 35%, #4d5c6d 50%, #424f5e 65%, #424f5e 100%);
$dark--sapContent_DragAndDropActiveColor: #91c8f6;
$dark--sapContent_Selected_Background: #91c8f6;
$dark--sapContent_Selected_TextColor: #29313a;
$dark--sapContent_Selected_Hover_Background: #83c1f5;
$dark--sapContent_Illustrative_Color2: #3793d1;
$dark--sapContent_Illustrative_Color3: #d69522;
$dark--sapContent_Illustrative_Color4: #030303;
$dark--sapContent_Illustrative_Color5: #727f87;
$dark--sapContent_Illustrative_Color6: #9ba4aa;
$dark--sapContent_Illustrative_Color7: #43494b;
$dark--sapContent_Illustrative_Color8: #c2c8cc;
$dark--sapShell_Background: #232a31;
$dark--sapShell_BackgroundImage: linear-gradient(to bottom, #181d22, #272f37);
$dark--sapShell_BackgroundGradient: linear-gradient(to bottom, #181d22, #272f37);
$dark--sapShell_TextColor: #fafafa;
$dark--sapShell_GroupTitleTextColor: #fafafa;
$dark--sapShell_Active_TextColor: #fafafa;
$dark--sapShell_Selected_TextColor: #fafafa;
$dark--sapShell_Navigation_Background: #29313a;
$dark--sapShell_Navigation_SelectedColor: #91c8f6;
$dark--sapShell_Navigation_Selected_TextColor: #91c8f6;
$dark--sapShell_Navigation_TextColor: #fafafa;
$dark--sapShell_Shadow: 0 0 0.5rem 0 rgba(0,0,0,0.8), inset 0 -0.0625rem 0 0 rgba(255,255,255,0.2);
$dark--sapButton_Background: #29313a;
$dark--sapButton_BorderColor: #91c8f6;
$dark--sapButton_TextColor: #91c8f6;
$dark--sapButton_Hover_Background: #062e4f;
$dark--sapButton_Hover_BorderColor: #91c8f6;
$dark--sapButton_Hover_TextColor: #91c8f6;
$dark--sapButton_IconColor: #91c8f6;
$dark--sapButton_Active_Background: #91c8f6;
$dark--sapButton_Active_BorderColor: #91c8f6;
$dark--sapButton_Active_TextColor: #29313a;
$dark--sapButton_Emphasized_Background: #1b8dec;
$dark--sapButton_Emphasized_BorderColor: #1b8dec;
$dark--sapButton_Emphasized_Hover_Background: #2e96ee;
$dark--sapButton_Emphasized_Hover_BorderColor: #2e96ee;
$dark--sapButton_Emphasized_Hover_TextColor: #29313a;
$dark--sapButton_Emphasized_Active_Background: #91c8f6;
$dark--sapButton_Emphasized_Active_BorderColor: #91c8f6;
$dark--sapButton_Accept_Background: #29313a;
$dark--sapButton_Accept_BorderColor: #abe2ab;
$dark--sapButton_Accept_Hover_Background: #153c15;
$dark--sapButton_Accept_Hover_BorderColor: #abe2ab;
$dark--sapButton_Accept_Hover_TextColor: #abe2ab;
$dark--sapButton_Accept_Active_Background: #98db98;
$dark--sapButton_Accept_Active_BorderColor: #98db98;
$dark--sapButton_Accept_TextColor: #abe2ab;
$dark--sapButton_Accept_Selected_Background: #98db98;
$dark--sapButton_Accept_Selected_BorderColor: #98db98;
$dark--sapButton_Accept_Selected_TextColor: #29313a;
$dark--sapButton_Accept_Selected_Hover_Background: #abe2ab;
$dark--sapButton_Accept_Selected_Hover_BorderColor: #abe2ab;
$dark--sapButton_Reject_Background: #29313a;
$dark--sapButton_Reject_BorderColor: #ff8888;
$dark--sapButton_Reject_Hover_Background: #3b0000;
$dark--sapButton_Reject_Hover_BorderColor: #ff8888;
$dark--sapButton_Reject_Hover_TextColor: #f88;
$dark--sapButton_Reject_Active_Background: #ff6e6e;
$dark--sapButton_Reject_Active_BorderColor: #ff6e6e;
$dark--sapButton_Reject_TextColor: #f88;
$dark--sapButton_Reject_Selected_Background: #ff6e6e;
$dark--sapButton_Reject_Selected_BorderColor: #ff6e6e;
$dark--sapButton_Reject_Selected_TextColor: #29313a;
$dark--sapButton_Reject_Selected_Hover_Background: #f88;
$dark--sapButton_Reject_Selected_Hover_BorderColor: #f88;
$dark--sapButton_Lite_TextColor: #91c8f6;
$dark--sapButton_Lite_Hover_Background: #062e4f;
$dark--sapButton_Lite_Hover_BorderColor: #91c8f6;
$dark--sapButton_Lite_Hover_TextColor: #91c8f6;
$dark--sapButton_Lite_Active_Background: #91c8f6;
$dark--sapButton_Lite_Active_BorderColor: #91c8f6;
$dark--sapButton_Selected_Background: #91c8f6;
$dark--sapButton_Selected_BorderColor: #91c8f6;
$dark--sapButton_Selected_TextColor: #29313a;
$dark--sapButton_Selected_Hover_Background: #83c1f5;
$dark--sapButton_Selected_Hover_BorderColor: #83c1f5;
$dark--sapButton_Attention_Background: #29313a;
$dark--sapButton_Attention_BorderColor: #fabd64;
$dark--sapButton_Attention_TextColor: #fabd64;
$dark--sapButton_Attention_Hover_Background: #2b1a01;
$dark--sapButton_Attention_Hover_BorderColor: #fabd64;
$dark--sapButton_Attention_Hover_TextColor: #fabd64;
$dark--sapButton_Attention_Active_Background: #f9b24b;
$dark--sapButton_Attention_Active_BorderColor: #f9b24b;
$dark--sapButton_Attention_Selected_Background: #f9b24b;
$dark--sapButton_Attention_Selected_BorderColor: #f9b24b;
$dark--sapButton_Attention_Selected_TextColor: #29313a;
$dark--sapButton_Attention_Selected_Hover_Background: #fabd64;
$dark--sapButton_Attention_Selected_Hover_BorderColor: #fabd64;
$dark--sapButton_Negative_Background: #ff8888;
$dark--sapButton_Negative_BorderColor: #ff8888;
$dark--sapButton_Negative_TextColor: #29313a;
$dark--sapButton_Negative_Hover_Background: #ffa2a2;
$dark--sapButton_Negative_Hover_BorderColor: #ffa2a2;
$dark--sapButton_Negative_Hover_TextColor: #29313a;
$dark--sapButton_Negative_Active_Background: #fbb;
$dark--sapButton_Negative_Active_BorderColor: #fbb;
$dark--sapButton_Critical_Background: #fabd64;
$dark--sapButton_Critical_BorderColor: #fabd64;
$dark--sapButton_Critical_TextColor: #29313a;
$dark--sapButton_Critical_Hover_Background: #fbc87d;
$dark--sapButton_Critical_Hover_BorderColor: #fbc87d;
$dark--sapButton_Critical_Hover_TextColor: #29313a;
$dark--sapButton_Critical_Active_Background: #fcd295;
$dark--sapButton_Critical_Active_BorderColor: #fcd295;
$dark--sapButton_Success_Background: #abe2ab;
$dark--sapButton_Success_BorderColor: #abe2ab;
$dark--sapButton_Success_TextColor: #29313a;
$dark--sapButton_Success_Hover_Background: #bee9be;
$dark--sapButton_Success_Hover_BorderColor: #bee9be;
$dark--sapButton_Success_Hover_TextColor: #29313a;
$dark--sapButton_Success_Active_Background: #d1efd1;
$dark--sapButton_Success_Active_BorderColor: #d1efd1;
$dark--sapButton_Information_Background: #91c8f6;
$dark--sapButton_Information_BorderColor: #91c8f6;
$dark--sapButton_Information_TextColor: #29313a;
$dark--sapButton_Information_Hover_Background: #a9d4f8;
$dark--sapButton_Information_Hover_BorderColor: #a9d4f8;
$dark--sapButton_Information_Hover_TextColor: #29313a;
$dark--sapButton_Information_Active_Background: #c0e0fa;
$dark--sapButton_Information_Active_BorderColor: #c0e0fa;
$dark--sapButton_Neutral_Background: #d3d7d9;
$dark--sapButton_Neutral_BorderColor: #d3d7d9;
$dark--sapButton_Neutral_TextColor: #29313a;
$dark--sapButton_Neutral_Hover_Background: #e1e3e5;
$dark--sapButton_Neutral_Hover_BorderColor: #e1e3e5;
$dark--sapButton_Neutral_Hover_TextColor: #29313a;
$dark--sapButton_Neutral_Active_Background: #eef0f1;
$dark--sapButton_Neutral_Active_BorderColor: #eef0f1;
$dark--sapButton_Track_Selected_Background: #062e4f;
$dark--sapButton_Track_Selected_TextColor: #fafafa;
$dark--sapButton_Track_Background: #38434f;
$dark--sapButton_Track_TextColor: #fafafa;
$dark--sapButton_TokenBackground: #29313a;
$dark--sapButton_TokenBorderColor: #687d94;
$dark--sapField_Background: #29313a;
$dark--sapField_TextColor: #fafafa;
$dark--sapField_PlaceholderTextColor: #b8bec1;
$dark--sapField_BorderColor: #8696a9;
$dark--sapField_HelpBackground: #29313a;
$dark--sapField_Hover_Background: #29313a;
$dark--sapField_Hover_BorderColor: #91c8f6;
$dark--sapField_Hover_HelpBackground: #062e4f;
$dark--sapField_Active_BorderColor: #91c8f6;
$dark--sapField_Focus_Background: #29313a;
$dark--sapField_Focus_BorderColor: #8696a9;
$dark--sapField_Focus_HelpBackground: #29313a;
$dark--sapField_ReadOnly_Background: rgba(58,69,82,0.5);
$dark--sapField_ReadOnly_BorderColor: #546375;
$dark--sapField_ReadOnly_HelpBackground: rgba(58,69,82,0.5);
$dark--sapField_RequiredColor: #e7a1a1;
$dark--sapField_InvalidColor: #ff8888;
$dark--sapField_InvalidBackground: #29313a;
$dark--sapField_WarningColor: #fabd64;
$dark--sapField_WarningBackground: #29313a;
$dark--sapField_SuccessColor: #abe2ab;
$dark--sapField_SuccessBackground: #29313a;
$dark--sapField_InformationColor: #91c8f6;
$dark--sapField_InformationBackground: #29313a;
$dark--sapGroup_TitleBorderColor: #495767;
$dark--sapGroup_TitleTextColor: #fafafa;
$dark--sapGroup_ContentBackground: #29313a;
$dark--sapGroup_ContentBorderColor: #3e4a58;
$dark--sapToolbar_SeparatorColor: #495767;
$dark--sapList_HeaderBackground: #232931;
$dark--sapList_HeaderBorderColor: #3a4552;
$dark--sapList_HeaderTextColor: #fafafa;
$dark--sapList_BorderColor: #3a4552;
$dark--sapList_TextColor: #fafafa;
$dark--sapList_Active_TextColor: #29313a;
$dark--sapList_Active_Background: #91c8f6;
$dark--sapList_SelectionBackgroundColor: #344b5f;
$dark--sapList_SelectionBorderColor: #91c8f6;
$dark--sapList_Hover_SelectionBackground: #395369;
$dark--sapList_Background: #29313a;
$dark--sapList_Hover_Background: #2f3943;
$dark--sapList_AlternatingBackground: #2d3640;
$dark--sapList_GroupHeaderBackground: #29313a;
$dark--sapList_GroupHeaderBorderColor: #64778e;
$dark--sapList_GroupHeaderTextColor: #fafafa;
$dark--sapList_FooterBackground: #252c34;
$dark--sapList_FooterTextColor: #fafafa;
$dark--sapList_TableGroupHeaderBackground: #1c2228;
$dark--sapList_TableGroupHeaderBorderColor: #5a6b7f;
$dark--sapList_TableGroupHeaderTextColor: #fafafa;
$dark--sapList_TableFooterBorder: #4b596a;
$dark--sapList_TableFixedBorderColor: #8091a5;
$dark--sapScrollBar_FaceColor: #506273;
$dark--sapScrollBar_TrackColor: #090b0d;
$dark--sapScrollBar_BorderColor: #506273;
$dark--sapScrollBar_SymbolColor: #91c8f6;
$dark--sapScrollBar_Hover_FaceColor: #4a5a6a;
$dark--sapPageHeader_Background: #29313a;
$dark--sapPageHeader_BorderColor: #3a4552;
$dark--sapPageHeader_TextColor: #fafafa;
$dark--sapPageFooter_Background: #2c3d50;
$dark--sapPageFooter_BorderColor: #3a516a;
$dark--sapPageFooter_TextColor: #fafafa;
$dark--sapInfobar_Background: #7fc6c6;
$dark--sapInfobar_Hover_Background: #74c1c1;
$dark--sapInfobar_Active_Background: #58b5b5;
$dark--sapObjectHeader_Background: #29313a;
$dark--sapObjectHeader_BorderColor: #3a4552;
$dark--sapTile_Background: #29313a;
$dark--sapTile_Hover_Background: #21272e;
$dark--sapTile_Active_Background: #21272e;
$dark--sapTile_TitleTextColor: #fafafa;
$dark--sapTile_TextColor: #d3d7d9;
$dark--sapTile_IconColor: #89a3bd;
$dark--sapTile_SeparatorColor: #424f5e;
$dark--sapAccentColor1: #ffc847;
$dark--sapAccentColor2: #e7a1a1;
$dark--sapAccentColor3: #f37aa2;
$dark--sapAccentColor4: #e269c9;
$dark--sapAccentColor5: #8ca7d5;
$dark--sapAccentColor6: #6bd3ff;
$dark--sapAccentColor7: #7fc6c6;
$dark--sapAccentColor8: #b2e484;
$dark--sapAccentColor9: #b995e0;
$dark--sapAccentColor10: #b0bcc5;
$dark--sapLegend_WorkingBackground: #2d3640;
$dark--sapLegend_NonWorkingBackground: #445261;
$dark--sapLegend_CurrentDateTime: #e269c9;
$dark--sapLegendColor1: #f0b25f;
$dark--sapLegendColor2: #f58c4b;
$dark--sapLegendColor3: #d88b8b;
$dark--sapLegendColor4: #bd8969;
$dark--sapLegendColor5: #de54c1;
$dark--sapLegendColor6: #6bd3ff;
$dark--sapLegendColor7: #21c4c4;
$dark--sapLegendColor8: #afd645;
$dark--sapLegendColor9: #b0bcc5;
$dark--sapLegendColor10: #bb8aaf;
$dark--sapLegendColor11: #d1b575;
$dark--sapLegendColor12: #ffb98d;
$dark--sapLegendColor13: #ffa1a1;
$dark--sapLegendColor14: #d5b39e;
$dark--sapLegendColor15: #b7a8b3;
$dark--sapLegendColor16: #bbbcd2;
$dark--sapLegendColor17: #a2c2c2;
$dark--sapLegendColor18: #aabc78;
$dark--sapLegendColor19: #a9d4ff;
$dark--sapLegendColor20: #c3c5fd;
$dark--sapLegendBackgroundColor1: #402706;
$dark--sapLegendBackgroundColor2: #421c04;
$dark--sapLegendBackgroundColor3: #341111;
$dark--sapLegendBackgroundColor4: #302015;
$dark--sapLegendBackgroundColor5: #3c0c32;
$dark--sapLegendBackgroundColor6: #003247;
$dark--sapLegendBackgroundColor7: #0a3d3d;
$dark--sapLegendBackgroundColor8: #303d0d;
$dark--sapLegendBackgroundColor9: #1f252a;
$dark--sapLegendBackgroundColor10: #2c1a28;
$dark--sapLegendBackgroundColor11: #352a12;
$dark--sapLegendBackgroundColor12: #461b00;
$dark--sapLegendBackgroundColor13: #450000;
$dark--sapLegendBackgroundColor14: #312015;
$dark--sapLegendBackgroundColor15: #272025;
$dark--sapLegendBackgroundColor16: #1c1d2a;
$dark--sapLegendBackgroundColor17: #1c2b2b;
$dark--sapLegendBackgroundColor18: #2b3118;
$dark--sapLegendBackgroundColor19: #002448;
$dark--sapLegendBackgroundColor20: #020544;